<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339196343411-5kh4ho5grm2tu8nmhd4i59uq4d1lmlaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339196343411-5kh4ho5grm2tu8nmhd4i59uq4d1lmlaj</string>
	<key>API_KEY</key>
	<string>AIzaSyBhGmaigQDealN66xW8cwymvDDt8r-dkJo</string>
	<key>GCM_SENDER_ID</key>
	<string>339196343411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.re-walk.gaitanalysis</string>
	<key>PROJECT_ID</key>
	<string>gateanalysis-4f3c4</string>
	<key>STORAGE_BUCKET</key>
	<string>gateanalysis-4f3c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339196343411:ios:1729b11908d4d997b9a606</string>
	<key>DATABASE_URL</key>
	<string>https://gateanalysis-4f3c4.firebaseio.com</string>
</dict>
</plist>